.App {
    padding: 20px;
}

.search_input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.task_columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
